.card {
   position: relative;
   float: right;
   width: 20% !important;
}

.linkedin {
   border-radius: 5px;
}

#Home:hover {
   color: rgba(255, 217, 0, 0.884);
   scale: 1.1 1.4 1.1;
}

#myskills:hover {
   scale: 1.1;
   color: rgba(6, 111, 6, 0.775) !important;
}

#myskills:visited {
   color: rgba(47, 255, 64, 0.953)
}

#foot {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: center;
   clear: both;
   padding-top: 100px;
}



.accordion {
   background-color: black !important;

   position: relative;
   float: left;
   left: 10px;
   width: 78%;
}

.card-img-top {

   height: 20% !important;
}
.homeFirstElement{
   font-size: 150%;
   
}
.Quotes{
   margin-top: 5%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 9%;
}
.QuotesLine{
   background-color: green;
   margin: 1%;
   padding: 0.5%;
   font-size: 250%;
   color: rgba(255, 255, 255, 0.949);
   opacity: 300%;
   border: 2px solid  rgba(19, 191, 19, 0.715);
   border-radius: 14%;
   transform: rotateZ(-10deg);
}
.homeFirstElement::after{
   content: "Quick Learning";
   font-size: 150%;
   font-weight: bolder;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: rgba(19, 191, 19, 0.715);
   animation: textchange 2.5s linear .2s infinite;
   
}

@keyframes textchange {
   0%{
      content: "Quick Learning"; 
   }
   10%{
      content: "Mentor"; 
   }
   20%{
      content: "Communication"; 
   }
   30%{
      content: "Hard Work"; 
   }
   40%{
      content: "Intelligence"; 
   }
   50%{
      content: "Game Changer"; 
   }
   60%{
      content: "Social Activity"; 
   }
   70%{
      content: "Team Work"; 
   }
   100%{
      content: "Punctuality"; 
   }
   
}


/* @media screen and (max-width:850px) {
   .accordion {
      width: 40vw;


      /* 3vw */
/*    }


}  */
@media screen and (max-width:735px) {.card {
   position: relative;
   float: right;
   width: 20% !important;
}

.linkedin {
   border-radius: 5px;
}

#Home:hover {
   color: rgba(255, 217, 0, 0.884);
   scale: 1.1 1.4 1.1;
}

#myskills:hover {
   scale: 1.1;
   color: rgba(6, 111, 6, 0.775) !important;
}

#myskills:visited {
   color: rgba(47, 255, 64, 0.953)
}

#foot {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: center;
   clear: both;
   padding-top: 100px;
}



.accordion {
   background-color: black !important;

   position: relative;
   float: left;
   left: 10px;
   width: 78%;
}

.card-img-top {

   height: 20% !important;
}
.homeFirstElement{
   font-size: 150%;
   
}
.Quotes{
   margin-top: 5%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 9%;
}
.QuotesLine{
   background-color: green;
   margin: 1%;
   padding: 0.5%;
   font-size: 250%;
   color: rgba(255, 255, 255, 0.949);
   opacity: 300%;
   border: 2px solid  rgba(19, 191, 19, 0.715);
   border-radius: 14%;
   transform: rotateZ(-10deg);
}
.homeFirstElement::after{
   content: "Quick Learning";
   font-size: 150%;
   font-weight: bolder;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: rgba(19, 191, 19, 0.715);
   animation: textchange 2.5s linear .2s infinite;
   
}

@keyframes textchange {
   0%{
      content: "Quick Learning"; 
   }
   10%{
      content: "Mentor"; 
   }
   20%{
      content: "Communication"; 
   }
   30%{
      content: "Hard Work"; 
   }
   40%{
      content: "Intelligence"; 
   }
   50%{
      content: "Game Changer"; 
   }
   60%{
      content: "Social Activity"; 
   }
   70%{
      content: "Team Work"; 
   }
   100%{
      content: "Punctuality"; 
   }
   
}


/* @media screen and (max-width:850px) {
   .accordion {
      width: 40vw;


      /* 3vw */
/*    }


}  */
@media screen and (max-width:770px) {
   .accordion {
      float: none;
      width: 100vw;
   }

   .card {
      float: none;
      width: 100vw !important;
   }

   .card-img-top {

      height: 10% !important;

   }
   .career-box{
      background-color: #3e64ff;
      color: rgba(251, 247, 247, 0.819);
      clear: both;
      display: flex;
      width: 70% !important;
      float: left;
      flex-direction: column;
      left:10% !important;
      margin:1%;
      padding: 4%;
   }
   .career-heading{
      text-align: center;
      text-transform:capitalize;
      color: #3e64ff;
      background-color: rgba(0, 0, 0, 0.897);
      font-size: 3rem !important;
      text-shadow:1px 2px 1px;
     margin-left: 10% !important;
     margin-right: 20% !important;
   }
   .fixCareer{
      width: 20% !important;
      right: 2% !important;
   }

   /* 3vw */
}


   /* 3vw */
}
.career-container{
   padding-top: 10%;
   margin-left: 10%;
   margin-right: 10%;

}
.career-heading{
   text-align: center;
   text-transform:capitalize;
   color: #3e64ff;
   background-color: rgba(0, 0, 0, 0.897);
   font-size: 4rem;
   text-shadow:1px 2px 1px;
  margin-left: 20%;
  margin-right: 30%;
}
.career-heading-subpart{
   text-align: center;
   text-transform: capitalize;
   color: #3e64ff;
   font-size: 3rem;
   text-shadow:1px 2px 1px;
  margin-left: -10%;
}
.fixCareer{
   position: fixed;
   display: flex;
   flex-direction: column;
   width: 10%;
   top:50%;
   right: 5%;
}
.subCareer{
   text-decoration: none;
   text-align: center;
   border: 3px solid  black;
   font-weight: bold;
   color: #3e64ff;
}
.career-box{
   background-color: #3e64ff;
   color: rgba(251, 247, 247, 0.819);
   position: relative;
   display: flex;
   width: 40%;
   float: left;
   flex-direction: column;
   margin:1%;
   padding: 4%;
}
.career-details{
   background-image: url(../ImgAsset/careerDetails.jpg);
   background-size: cover;
   color: black;
   z-index: 1 ;
   animation-name: upAndDown;
   animation-duration: 1s;
   animation-iteration-count: 1;
}
.upArrow{
   position: fixed;
   text-align: center;
   bottom: 2%;
   right: 2%;
   height: 80px;
   width: 80px;
   background-color: black;
}
.fa-arrow-up{
   margin-top: 20%;
   font-size: 40px;
}
@keyframes upAndDown{
   0%{
    margin-top: -50%;
   opacity: 0; 
    z-index: -1;
   }
   
   100%{
      margin-top: 0%;
     opacity: 1; 
      z-index: 1;
   }
}
@keyframes downAndUp{
   0%{
      margin-top: 0%;
     opacity: 1; 
      z-index: 1;
   }
   100%{
    margin-top: -50%;
   opacity: 0; 
    z-index: -1;
   }
   
   
}
.fa-book-open-reader, .fa-building{
   margin-left: 1%;
   background-color: rgba(255, 238, 0, 0.915);
   border-radius: 50%;
   padding: 0% !important;
}