.card {
   position: relative;
   float: right;
   width: 20% !important;
}

#Home:hover {
   color: rgba(255, 217, 0, 0.884);
   scale: 1.1 1.4 1.1;
}

#myskills:hover {
   scale: 1.1;
   color: rgba(6, 111, 6, 0.775) !important;
}

#myskills:visited {
   color: rgba(47, 255, 64, 0.953)
}

#foot {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: center;
   clear: both;
   padding-top: 100px;
}



.accordion {
   background-color: black !important;

   position: relative;
   float: left;
   left: 10px;
   width: 78%;
}

.card-img-top {

   height: 20% !important;
}

/* @media screen and (max-width:850px) {
   .accordion {
      width: 40vw;


      /* 3vw */
/*    }


}  */
@media screen and (max-width:735px) {
   .accordion {
      float: none;
      width: 100vw;
   }

   .card {
      float: none;
      width: 100vw !important;
   }

   .card-img-top {

      height: 10% !important;

   }

   /* 3vw */
}